
{{> logo}}

<div class="w-2/3 mx-auto">
  <div class="mb-4 text-xl">Change Password</div>

  <div class="p-3 text-sm text-red-400" id="msg">
      {{#each msg}}
        {{#each this}}
          <p>{{this}}</p>
        {{/each}}
      {{/each}}
  </div>

  <form action="/change_password" method="post" id="change_password">
    <div class="w-full">
      <input type="password" class="w-full m-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" name="old_password" id="password_old" placeholder="Current password">
    </div>

    <div class="w-full">
      <input type="password" class="w-full m-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" name="new_password1" id="password1" placeholder="New password" required minlength='8'>
    </div>

    <div class="w-full mb-2">
      <input type="password" class="w-full m-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" name="new_password2" id="password2" placeholder="New password (repeat)" required minlength='8'>
    </div>

    <div class="grid grid-cols-2 gap-3 w-full mx-auto">
      <a href="/account">
        <div class="bg-transparent border-transparent p-3 rounded-md text-base bg-red-400">
          Cancel
        </div>
      </a>
      <div>
        <input class="bg-transparent border-transparent p-3 rounded-md text-base bg-lime-500 w-full cursor-pointer" type="submit" value="Update">
      </div>
    </div>
  </form>
</div>


<script type="text/javascript">
document.getElementById("change_password").addEventListener("submit", function(e) {
  e.preventDefault();

  if (document.getElementById("password1").value == document.getElementById("password2").value) {
    document.getElementById("change_password").submit();
  } else {
    document.getElementById("msg").innerHTML = "Passwords do not match."
  }
});
</script>