
{{> logo}}

<div class="text-center text-2xl font-bold">
  {{title}}
</div>
<div class="text-center text-sm mb-4">
  [ <a href="/logout" class="text-lime-500">logout</a> ]
</div>


<div class="w-1/2 mx-auto">
  {{#each recipes}}
  <a href="/v/{{this.username}}/{{this.slug}}">
    <div class="p-4 text-base border border-slate-200 rounded-md mb-3 block">
      {{this.title}}
    </div>
  </a>
  {{/each}}
</div>


{{> navbar}}