
<figure class="image is-64x64 is-inline-block">
  <img src="./img/frying-pan.png">
</figure>

<nav class="navbar is-fixed-bottom">
  <div class="container has-text-centered">
    <div class="navbar-end">
      <div class="columns is-mobile">
        <div class="column">
          <div class="navbar-item">
            <figure class="image is-32x32 is-inline-block">
              <img src="./img/list.png">
            </figure><br>
            My recipes
          </div>
        </div>
        <div class="column">
          <div class="navbar-item">
            <figure class="image is-32x32 is-inline-block">
              <img src="./img/frying-pan.png">
            </figure><br>
            Home
          </div>
        </div>
        <div class="column">
          <div class="navbar-item">
            <figure class="image is-32x32 is-inline-block">
              <img src="./img/person.png">
            </figure><br>
            Account
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>