
{{> logo}}

<div class="text-center text-2xl font-bold">
  My Kitchen
</div>
<div class="text-center text-sm mb-4 mt-3 text-lime-500">
  {{msg}}
</div>

<div class="w-1/2 mx-auto">
  <a href="/whatcanicook">
    <div class="p-4 text-base border border-slate-200 rounded-md mb-3 block">What Can I Cook</div>
  </a>
</div>
