{{> logo}}

<div class="w-2/3 mx-auto">
  <div class="p-3 text-sm text-red-400">
      {{msg}}
  </div>
    
  <form action="/login" method="post">
    <div class="w-full">
      <input type="text" class="w-full m-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" name="username" placeholder="Username" autofocus>
    </div>

    <div class="w-full mb-2">
      <input type="password" class="w-full m-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" name="password" placeholder="Password">  
    </div>

    <div class="grid grid-cols-3 w-full mx-auto">
      <div>
        <input class="bg-transparent border-transparent hover:bg-blue-300 p-3 rounded-md cursor-pointer" type="button" value="?">
      </div>
      <a href="/register">
        <div>
          <input class="bg-transparent border-transparent hover:bg-blue-300 p-3 rounded-md cursor-pointer" type="button" value="+">
        </div>
      </a>
      <div>
        <input class="bg-transparent border-transparent hover:bg-blue-300 p-3 rounded-md" type="submit" value=">>">
      </div>
    </div>

    <input type="hidden" name="next" value="{{next}}">
  </form>
</div>