
<figure class="image is-128x128 is-inline-block">
  <img src="./img/frying-pan.png">
</figure>

<form>
  <div class="field p-4">
    <div class="control mb-4">
      <input class="input" type="text" name="title" placeholder="Title">
    </div>
    <div class="control has-icons-left mb-4">
      <textarea class="textarea" name="recipe" placeholder="Type recipe here"></textarea>
    </div>
    <div class="control">
      <div class="columns is-mobile">
        <div class="column is-one-third">
          <input class="button is-info is-light is-large is-fullwidth" type="button" value="X">
        </div>
        <div class="column is-two-thirds">
          <input class="button is-info is-large is-fullwidth" type="button" value="Save">
        </div>
      </div>
      
    </div>
  </div>
</form>