<div class="text-3xl my-6 font-bold p-6">
  {{title}}
</div>


<img src="/img/image1.png" class="w-3/4 rounded-sm mx-auto my-6">

<table class="table-fixed w-3/4 mx-auto text-sm">
  <tbody>
    {{#each ingredients}}
      <tr>
        <td class="w-1/2 text-right p-3">{{@key}}</td>
        <td class="text-left p-3">{{this}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
 
<hr class="w-1/2 mx-auto h-px border-slate-400 m-6">

<table class="max-w-md mx-auto text-sm mb-6">
  <tbody>
    {{#each recipe}}
      <tr>
        <td class="pb-3 pr-2 align-top">
          <input type="checkbox" class="border-slate-300 hover:border-slate-500 w-8 h-8">
        </td>
        <td class="pb-3 text-left">
          {{this}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
