
{{> header}}

<section>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-fifth p-6 has-text-centered">
        {{{body}}}
      </div>
    </div>
  </div>
</section>

{{> footer}}
