  <div class="mb-4">
    <a onClick="toggleHelpOn()">
      <div id="help-btn" class="rounded-md bg-slate-300 text-slate-500 text-sm p-2">Instructions</div>
    </a>
    <a onClick="toggleHelpOff()">
      <div id="help" class="hidden">
        <div class="bg-slate-300 text-slate-500 text-sm p-2 rounded-t-md">Instructions</div>
        <div class="text-sm border border-slate-300 rounded-b-md p-4 text-left font-mono space-y-5">
          <p>
            <a href="https://cooklang.org/" class="text-green-500 underline">Cooklang markup</a> has a very specific way that recipes are supposed to be written.  But, the syntax is cumbersome since it uses a lot of symbols: @, {}, and %.  To make recipe creation easier, Cookbook uses a two-step recipe creation process that produces Cooklang-valid markup automatically for you.
          </p>

          <ul class="list-decimal list-inside px-8">
            <li>Type the recipe like you normally would.  Each line is a step in the recipe</li>
            <li>Tell us which words in the recipe are ingredients</li>
          </ul>

          <p>
            That's it!  The engine will combine these two pieces of information and decorate the recipe with the correct symbols to make your recipe Cooklang-valid.
          </p>

          <p>
            <span class="underline">Voice dictation:</span><br />
            Voice dictation makes it easier to create recipes on mobile.  Certain keywords are converted into new lines in voice-dict mode and removed from the final recipe:
          </p>
          <p>
            <ul class="list-disc list-inside">
              <li>First</li>
              <li>Next</li>
              <li>Finally</li>
              <li>And then</li>
            </ul>
          </p>
        </div>
      </div>
    </a>
  </div>