<nav class="w-screen md:w-1/3 fixed mx-auto bottom-0 bg-blue-300">
  <div class="grid grid-cols-3 p-4">
    <div class="text-sm">
      <img src="/img/list.png" class="w-1/4 mx-auto">
      <span>
        Recipes
      </span>
    </div>
    <div class="text-sm">
      <img src="/img/frying-pan.png" class="w-1/4 mx-auto">
      <span>
        Home
      </span>
    </div>
    <div class="text-sm">
      <img src="/img/person.png" class="w-1/4 mx-auto">
      <span>
        Account
      </span>
    </div>
  </div>
</nav>