<nav class="w-screen md:w-1/3 fixed mx-auto bottom-0 bg-blue-300">
  <div class="grid grid-cols-3 p-4">
    <a href="/bookmarks">
      <div class="text-sm">
        <img src="/img/list.png" class="w-1/4 mx-auto">
        <span>
          Bookmarks
        </span>
      </div>
    </a>

    <a href="/">
      <div class="text-sm">
        <img src="/img/frying-pan.png" class="w-1/4 mx-auto">
        <span>
          Home
        </span>
      </div>
    </a>

    <a href="/account">
      <div class="text-sm">
        <img src="/img/person.png" class="w-1/4 mx-auto">
        <span>
          Account
        </span>
      </div>
    </a>
  </div>
</nav>